@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&family=Mukta+Mahee:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
    text-decoration: none;
  }

  ol,
  ul,
  li {
    list-style: none;
    display: block;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  a,
  img {
    border: none;
  }

  button,
  a {
    cursor: pointer;
    color: inherit;
  }

  textarea {
    resize: none;
  }

  button,
  input,
  textarea,
  select {
    appearance: none !important;
    -webkit-appearance: none !important;
    /* safari, opera, chrome miatt */
    border-radius: 0;
  }

  /* CSS reset */


  div.dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: #20222f;
    color: rgb(244, 237, 237);

    div.social {
      background-color: #252b43;
    }
    div.over {
      background-color: #252b43;
    }
  }

  div.light {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: rgb(244, 237, 237);
    color: #20222f;

    div.social {
      background-color: rgb(235, 221, 221);
    }
    div.over {
      background-color: rgb(235, 221, 221);
    }
  }


  body {
      font-family: 'Heebo', sans-serif;
      font-weight: 300;
      header {
        position: absolute;
        top: 80px;
        // left: 0;
        width: 80vw;
        height: 80px;

        // padding-bottom: -20px;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        div.title {
            display: flex;
            // flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h1 {
              font-size: 28px;
            }
            h2 {
              font-size: 15px;
              color: #898fb3;
            }
        }

        div.theme {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            align-items: center;

            button {
                position: relative;
                width: 60px;
                height: 31px;

                margin-left: 10px;

                background-color: #3cbca9;
                border-radius: 50px;

                div.left {
                  position: absolute;
                  top: 3px;
                  left: 3px;

                  width: 25px;
                  height: 25px;

                  background-color: #20222f;
                  border-radius: 50%;
                }

                div.right {
                  position: absolute;
                  top: 3px;
                  right: 3px;

                  margin-right: 3px;

                  width: 25px;
                  height: 25px;

                  background-color: #20222f;
                  border-radius: 50%;
                }
            }
            p {
              font-weight: 500;
              color: #898fb3;
            }
        }
      }

      div.main-one {
        width: 80vw;
        height: 25vh;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // gap: 20px;

        div.social {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 18vw;
            padding: 20px 0 20px 0;
            border-radius: 8px;

            .twitter, .facebook, .instagram, .youtube {
              position: absolute;
              top: 0;
              height: 5px;
              width: 18vw;
            }

            .facebook {
              background-color: #1a8ef1;
            }

            .twitter {
              background-color: #1ea1ef;
            }
            .instagram {
              background: rgb(254,218,117);
              background: -moz-linear-gradient(90deg, rgba(254,218,117,1) 0%, rgba(250,126,30,1) 60%, rgba(214,41,118,1) 100%);
              background: -webkit-linear-gradient(90deg, rgba(254,218,117,1) 0%, rgba(250,126,30,1) 60%, rgba(214,41,118,1) 100%);
              background: linear-gradient(90deg, rgba(254,218,117,1) 0%, rgba(250,126,30,1) 60%, rgba(214,41,118,1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#feda75",endColorstr="#d62976",GradientType=1);
            }
            .youtube {
              background-color: #bd052a;
            }

            h2 {
              font-size: 14px;
              font-weight: 400;
              color: #898fb3;

              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
              width: 80%;

              margin-top: 10px;
            }
            h1:nth-child(3) {
              height: 80px;
              font-size: 60px;
              font-family: 'Mukta Mahee', sans-serif;
              font-weight: 700;
              // letter-spacing: 0.1em;
            }
            h1:nth-child(4) {
              font-weight: 300;
              font-size: 15px;
              color: #898fb3;

              letter-spacing: 0.2em;
            }
            h3 {
              margin-top: 20px;
              font-size: 15px;
            }

            h3.green {
              color: #46938c;
            }
            h3.red {
              color: #b0455c;
            }

            span.icons {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;

              width: 18%;
              height: 30px;
              
            }
            span.icons svg {
              width: 30px;
              height: 30px;
              text-align: center;
            }

          }
      }
      div.overview {
        margin-top: 50px;

        h2 {
          margin-bottom: 20px;
        }

        div.main-two {
          width: 80vw;
          height: 20vh;

          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 20px;

          // h2 {
          //   position: absolute;
          // }

          div.over {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            width: 18vw;
            border-radius: 8px;
          }
        }

      }

  }
