@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
    text-decoration: none;
  }
  
  ol,
  ul,
  li {
    list-style: none;
    display: block;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  a,
  img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  input,
  textarea,
  select {
    appearance: none !important;
    -webkit-appearance: none !important;
    /* safari, opera, chrome miatt */
    border-radius: 0;
  }
  
  /* CSS reset */


  div.dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: #20222f;
    color: rgb(244, 237, 237);   

    div.social {
      background-color: #252b43;
    }
    div.over {
      background-color: #252b43;
    }
  }

  div.light {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: rgb(244, 237, 237);
    color: #20222f;

    div.social {
      background-color: rgb(219, 212, 212);
    }
    div.over {
      background-color: rgb(219, 212, 212);
    }
  }
  

  body {
      font-family: 'Heebo', sans-serif;
      font-weight: 300;
      header {
        position: absolute;
        top: 80px;
        // left: 0;
        width: 80vw;
        height: 80px;

        // padding-bottom: -20px;
    
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
  
        
        div.title {
            display: flex;
            // flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h1 {
              font-size: 28px;
            }
            h2 {
              font-size: 15px;
              color: #898fb3;
            }
        }
    
        div.theme {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            align-items: center;
    
            button {
                position: relative;
                width: 60px;
                height: 31px;

                margin-left: 10px;
      
                background-color: #3cbca9;
                border-radius: 50px;

                div.left {
                  position: absolute;
                  top: 3px;
                  left: 3px;

                  width: 25px;
                  height: 25px;

                  background-color: #20222f;
                  border-radius: 50%;
                }

                div.right {
                  position: absolute;
                  top: 3px;
                  right: 3px;

                  margin-right: 3px;

                  width: 25px;
                  height: 25px;

                  background-color: #20222f;
                  border-radius: 50%;
                }
            }
            p {
              font-weight: 500;
              color: #898fb3;
            }
        }
      }

      div.main-one {
        width: 80vw;
        height: 25vh;
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // gap: 20px;
        
        div.social {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            width: 18vw;
            
            h2 {
              font-size: 14px;
              font-weight: 300;
              color: #898fb3;
            }
            h1:nth-child(2) {
              font-size: 50px;
              font-weight: 700;
            }
            h1:nth-child(3) {
              font-weight: 300;
              font-size: 16px;
              color: #898fb3;
            }
          }
      }

      div.main-two {
        width: 80vw;
        height: 20vh;
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        // h2 {
        //   position: absolute;
        // }

        div.over {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          width: 18vw;
        }
      }

  }
